*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1920px;
}
.cont4{
    margin-top: 84,5px;
    .heading{
        color: var(--gray-scales-black, #272343);

        /* Section Heading */
        font-family: Inter,sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 35.2px */
        text-transform: capitalize;
        margin-left: 300px;
    }
    .cont4-wrap{
        display: flex;
        .img{
            margin-right: 24px;
            position: relative;
            span{
                margin-left: 420px;
            }
            .txt{
                position: relative;
                margin-left: -418px;
                z-index: 3;
                position: absolute;
                bottom: 0px;
                display: inline-flex;
                padding: 20px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                border-radius: 0px 0px 10px 10px;
                background: rgba(0, 0, 0, 0.70);
                h4{
                    color: var(--gray-scales-white, #FFF);
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 110%; /* 22px */
                    text-transform: capitalize;
                }
                p{
                    width: 376px;
                    color: var(--gray-scales-white, #FFF);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 15.4px */
                    text-transform: capitalize;
                }
            }
        }
        
    }
}
.cont5{
    padding: 80px 300px;
    .heading{
        color: var(--gray-scales-black, #272343);
        font-family: Inter,sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 35.2px */
        text-transform: capitalize;
        text-align: center;
    }
    .cont5-nav{
        display: flex;
        align-items:center;
        margin-left: 421px;
        margin-top: 24px;
        span p{
            color: var(--gray-scales-black, #272343);
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 17.6px */
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }
        .line{
            display: flex;
            width: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: var(--gray-scales-white, #FFF);
            box-shadow: 0px 2px 0px 0px #038053;
        

        }
        p{
            color: var(--gray-scales-gray, #9A9CAA);
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 17.6px */
            letter-spacing: 0.8px;
            text-transform: uppercase;
            margin-right: 24px;
        }
    }
    .cont5-wrap{
        margin-top: 48px;
        display: flex;
        // flex-wrap: wrap;
        .box{
            margin-right: 24px;
            position: relative;
            .img{
                position: relative;
                img{
                    position: relative;
                }
                .new{
                    position: absolute;
                    display: inline-flex;
                    padding: 6px 10px;
                    align-items: flex-start;
                    gap: 10px;
                    border-radius: 4px;
                    background: var(--status-success, #01AD5A);
                    color: var(--gray-scales-white, #FFF);
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 110%; /* 14.3px */
                    text-transform: capitalize;
                    top: 20px;
                    left: 20px;
                }
                .icon-box{
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background: rgba(255, 255, 255, 0.80);
                    position: absolute;
                    top: 20px;
                    right: 20px;
                .icon{
                    position: relative;
                    padding: 11px;
                }
            }
            }
            .bottom{
                margin-top: 14px;
                display: flex;
                .description{
                    h4{
                        width: 256px;
                        color: var(--accents-dark-accents, #007580);
                        /* Product Name */
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 130%; /* 20.8px */
                        text-transform: capitalize;
                    }
                    h3{
                        color: var(--gray-scales-black, #272343);

                        /* Product Price */
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 110%; /* 19.8px */
                        text-transform: capitalize;
                    }
                }
                .buy-icon{
                    width: 44px;
                    height: 44px;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background: var(--accents-accents, #029FAE);
                    img{
                        padding: 10px;
    background-color: #fff;
    font-family: 'Inter', sans-serif;
}
                }
            }
        
.jorabek{
    header{
        nav{
            background-color: rgba(154, 156, 170, 1);
            display: flex;
            .logo{
                margin: 25px;
                margin-left: 300px;
                margin-right: 254px;
            }
            .search{
                width: 413px;
                height: 44px;
                border-radius: 5px;
                background-color: #fff;
                display: flex;
                margin-top: 24px;
                p{
                    margin-top: 12px;
                    margin-left: 10px;
                }
                .sear{
                    width: 30px;
                    height: 30px;
                    margin-top: 7px;
                    margin-left: 250px;
                }
            .bottom{
                display: flex;
              
            }
            }
        }  
        article{
            display: flex;
            margin-top: 24px;
            .card{
                width: 100px;
                height: 44px;
                margin-left: 254px;
            }
            div{
            width: 44px;
            height: 44px;
            background-color: #fff;
            border-radius: 5px;
            padding:10px;
            margin-left: 10px;
            }
        }
        section{
            margin-top: 14px;
            display: flex;
            .left{
                width: 547px;
                height: 47px;
                display: flex;
                justify-content: space-between;
                margin-left: 300px;
                p{
                    font-size: 14px;
                    margin-top: 16px;
                }
                button{
                    width: 176px;
                    height: 47px;
                    background-color: #fff;
                    padding-left: 10px;
                    border-radius: 5px;
                   img{
                    margin-left: -30px;
                    position: absolute;
                   }
                   
                }
                .hom{
                    color: rgba(0, 117, 128, 1);
                }
            }
            .right{
                display: flex;
                margin-top: 15px;
                margin-left: 580px;
            }
        }
        main{
           .bg{
            position: relative;
            margin-left: 90px;
           }
           aside{
            position: absolute;
            width: 631px;
            margin-left: 300px;
            margin-top: -600px;
            p{
                font-size: 14px;
                margin-left: 5px;
            }
            b{
                font-size: 68px;
            }
            button{
                background-color: rgb(30, 30, 128);
                border: 0;
                border-radius: 5px;
                width: 171px;
                height: 52px;
                font-size: 16px;
                padding: 14px 24px;
                color: white;
                display: flex;
                margin-top: 15px;
                p{
                    margin-top: 5px;
                    margin-right: 20px;
                }
            }
           }
        }
        .fea{
            margin-left: 210px;
            margin-top: -160px;
            position: absolute;
        }
        .company{
            margin-top: 120px;
            margin-left: 310px;
        }
        footer{
            width: 1321px;
            margin-left: 310px;
            nav{
                font-size: 32px;
                background-color: #fff;
                justify-content: space-between;
            }
            .table{
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                .heart{
                        width: 44px;
                        height: 44px;
                        background-color: #fff;
                        border-radius: 5px;
                        padding:10px;
                        margin-left: 240px;
                        margin-top: -290px;
                        position: absolute;
                }
                .ikki{
                    p{
                        color: rgb(24, 116, 116);
                    }
                }
                div{
                    .past{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 10px;
                        p{
                            margin-bottom: 5px;
                        }
                        .right{
                            width: 34px;
                            height: 34px;
                            padding: 5px;
                            border-radius: 5px;
                            background-color: #e0dbdb;
                        }
                        .rit{
                            background-color: #029FAE;
                        }
                    }
                    b{
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}

            